.accordion{

    padding: 50px 0;

    .accordion-header{
        .accordion-button{
            font-size: 35px;
            color: #284B63;
            background: #ffffff;
            border: 0;
            box-shadow: #ffffff;

            &:not(.collapsed){
                background: #ffffff;
                border: 0;
                box-shadow: #ffffff;
            }

            &:focus{
                box-shadow: none;
            }
        }
    }
    .accordion-collapse{
        border: 0;
    }
}
