.admin {
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, label {
        color: #a6a6a6;
    }

    .card {
        background-color: #353535;
        border-color: #616161;
    }

    .navbar {
        background-color: #404040;
    }

    .navbar-brand {
        color: $sand;
    }

}

