.admin {
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, label, .table {
        color: #a6a6a6;
    }

    .card {
        background-color: #353535;
        border-color: #616161;
        margin-bottom: 24px;
    }

    background-color: #353535;
    min-height: 100vh;
    height: 100%;

    .content{
        padding-top: 35px;
    }
    .navbar {
        background-color: #404040;
    }

    .navbar-brand {
        color: $sand;
    }

    #category-container-parent{
        position:inherit;
        left:0;
        right:0;
        background-color: transparent;
    }

    .clickable-submenu{
        font-weight: normal;
        color: $gray!important;
        cursor: pointer;
    }

    a.category{
        text-decoration: none;
        font-weight: bold;
        color: $gray!important;

        &:hover{
            color: $gray!important;
        }
    }
    .category {
        &-arrow{
            font-size:10px;
        }

        &-0{
            > div, >a {
                display:block;
            }
            >.clickable-submenu{
                font-weight:normal;
            }
            :last-child{
                padding-bottom: 10px;
            }
        }

        &-1 {
            font-weight: bold;
            color: $gray!important;
            display:block;
        }


        &-hoverable > * {
            > div, >a {
                display:none;
            }
        }

        a{
            font-weight: normal;
        }
    }
}

.logfile-contents{
    color: #a6a6a6;
    max-height: 400px;
}

.sidebar {
    width: 250px;
    height: 100%;

    .hamburgermenu {
        position: absolute;
    }

    .sidepanel {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -250px;
        color: #c5AE91;
        background-color: #404040;
        overflow-x: hidden;
        padding-top: 60px !important;
        transition: 0.5s;


        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
            cursor: pointer;
        }

        .title{
            color: #a6a6a6;
            font-size: 23px;
            overflow: hidden;
            white-space: nowrap;
        }



        ul{
            list-style-type: none;
            padding-left: 0!important;

            li{
                margin-bottom: 10px;

                a {
                    text-decoration: none;
                    color: #c5AE91;

                    &:hover {
                        color: #c5AE91;
                        background-color: #565656;
                    }

                    i{
                         font-size: 18px;
                         margin-right: 5px;
                     }
                    .fa-fw{
                        width: 2.25em!important;
                    }
                }
            }
        }

        .bottom-info{
            position: absolute;
            bottom: 10px;
            left: 55px;

            li{
                margin-bottom: 2px;
            }

            a{
                &:hover{
                    background-color: #404040;
                    text-decoration: underline;
                }
            }
            b{
                margin-bottom: 0;
                color: #c5AE91;
            }
        }
    }

    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: transparent;
        color: white;
        padding: 10px 15px;
        border: none;

        &:hover {
            background-color: #444;
        }
    }
}

.table {
    margin: 0 auto;
    width: 80%;
    .thead{
        background-color: #404040;
    }

    .endTd{
        border-right: 1px solid;
    }

    .form-check-input:disabled{
        opacity: 1;
    }

    tbody{
        tr{
            &:hover{
               background-color: #4c4c4c;
                cursor: pointer;
            }

            .fa-ban{
                color: #DC2626;
            }

            .fa-check-circle{
                color: #10B981;
            }
        }
    }
}
