#breadcrumbs-container {
    a{
        text-decoration: none;

        &:link,
        &:visited,
        &:active,{
            color: rgba(0, 0, 0, 0.55);
        }

        &:hover{
            color: rgba(0, 0, 0, 0.7);
        }
    }
}
