.footer-link {
    text-decoration: none;
    color: #cbd5e0;
    border-bottom: 1px solid transparent;
    transition: all .2s ease-in;
}

.footer-link:hover {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
}
