.stars {
    padding: 10px 25px;
    border-radius: 35px;
    background: #f2faff;

    .fa-star {
        color: #FFD700;
        font-size: 20px;
    }
}

.rating-bar-empty {
    margin: auto 5px;
    width: 50%;
    height: 12px;
    border-radius: 35px;
    border: 1px solid #bfbfbf;
    background: #f2faff;

    .rating-bar-filled {
        height: 10px;
        border-radius: 35px;
        background: $starYellow;

        &.five-star {
            width: 84%;
        }

        &.four-star {
            width: 9%;
        }

        &.three-star {
            width: 4%;
        }

        &.two-star {
            width: 2%;
        }

        &.one-star {
            width: 1%;
        }
    }
}


.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    width: 11em;
    margin-left: auto;
    margin-right: auto;
}

.rating label {
    font-size:20px;
    cursor: pointer;
}

.rating > label:before {
    //color: #ccc;
    color: $starYellow;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > label.far:before,
.rating > label.far ~ label:before {
    color: $starYellow;
}

