$border-radius: 0.75rem;

// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3B82F6;
$indigo: #6366F1;
$purple: #8B5CF6;
$pink: #EC4899;
$red: #EF4444;
$orange: #F59E0B;
$yellow: #FCD34D;
$green: #34D399;
$gray: #6B7280;
$light: #F3F4F6;
$dark: #111827;

// Theme colors
$dark-gray: #353535;
$darker-gray: #2d3748;
$sand: #c5AE91;
$dark-blue: #284B63;

$theme-colors: (
    "primary": $dark-blue,
    "secondary": $sand,
    "success": $green,
    "danger": $red,
    "warning": $orange,
    "info": $yellow,
    "light": $light,
    "dark": $dark,
);

// Colors with opacity
$sand-opacity: rgba(197,174,145,0.9);
$dark-blue-opactiy: rgba(40,75,99,0.9);
