// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'card';
@import 'footer';
@import 'rating';
@import 'typography';
@import 'header';
@import 'accordion';

.category-container {
    padding: 18px 0;
}

#category-container-parent{
    z-index:10;
    position:absolute;
    left:0;
    right:0;
    background-color: $white;
}

.clickable-submenu{
    font-weight: normal;
    color: $dark-blue;
    cursor: pointer;
}

a.category{
    text-decoration: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.55);

    &:hover{
        color: rgba(0, 0, 0, 0.7);
    }
}
.category {
    &-arrow{
        font-size:10px;
    }

    &-0{
       > div, >a {
           display:block;
       }
        >.clickable-submenu{
            font-weight:bold;
        }
        :last-child{
            //border-bottom: 1px solid $dark-blue;
            padding-bottom: 10px;
        }
    }

    &-1 {
        font-weight: bold;
        color: $dark-blue;
        display:block;
    }


    &-hoverable > * {
        > div, >a {
            display:none;
        }
    }

    &-hoverable:hover > * {
        //display: block;
    }

    a{
        font-weight: normal;
        //color: $primary !important;
        //text-decoration: none;
    }

    //&-2 {
    //    font-weight: normal;
    //    color: $primary;
    //}
    //
    //&-3 {
    //    color: black;
    //}

}

.btn {
    border-radius: $border-radius;
    padding: 0.375rem 1rem;
}

.hero-section {
    background: $sand;
    background: linear-gradient(27deg, $sand 0%, $dark-blue 100%);
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-effect {
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
}

.hover-effect:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);

}

.no-link {
    text-decoration: none;
    color: $darker-gray;
}

.no-link:hover {
    color: $darker-gray;
}

.flex-centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sand-blue-gradient {
    background: $sand;
    background: linear-gradient(27deg, $sand 0%, $dark-blue-opactiy 100%);
}

.profile-picture {
    font-size: 25px;
    margin-right: 10px;
}

.info-content {
    height: 60px;
}

.list-group {
    border-radius: 0;
}

.list-group-item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: 0;
    border-right: 0;
}

.bid-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: linear-gradient(0deg, $sand-opacity 0%, $dark-blue-opactiy 100%);

    .card-head {
        padding: 15px;

        h4 {
            margin: 0;
            color: white;
        }
    }

    .bid-overlay-body {
        margin: 100px 50px;
        padding: 35px;
        background: #ffffff;
        border-radius: $border-radius;
        border: 1px solid #000000;

        .btn {
            margin: 20px 0;
        }
    }
}

.carousel{
    .carousel-inner {
        .carousel-item{
            img{
                margin: auto;
                max-height: 500px;
                min-width: auto;
                max-width: 100%;
            }
        }

    }
}

.make-auction{
    label{
        font-weight: bold;
    }
}
